---
exclude:
  - ".bundle/**/*"
  - "spec/**/*"
  - "test/**/*"
  - "vendor/**/*"
reporters:
  - rubocop
  - require_not_found
  - typecheck
max_files: 5000
formatter:
  rubocop:
    cops: all
    except:
      - Lint/Debugger
      - Lint/UnusedBlockArgument
      - Lint/UnusedMethodArgument
      - Style/EmptyMethod
