[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:jimeh/.emacs.d.git
[submodule "private"]
	path = private
	url = git@bitbucket.org:jimeh/dotfiles-private.git
[submodule "tmux/tmuxifier"]
	path = tmux/tmuxifier
	url = git@github.com:jimeh/tmuxifier.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/zplug/zplug"]
	path = zsh/zplug/zplug
	url = https://github.com/zplug/zplug
