[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:jimeh/.emacs.d.git
[submodule "private"]
	path = private
	url = git@bitbucket.org:jimeh/dotfiles-private.git
[submodule "shell/tmux/tmuxifier"]
	path = shell/tmux/tmuxifier
	url = git@github.com:jimeh/tmuxifier.git
[submodule "shell/bash/git-aware-prompt"]
	path = shell/bash/git-aware-prompt
	url = git@github.com:jimeh/git-aware-prompt.git
[submodule "tmux/themes"]
	path = tmux/themes
	url = git@github.com:jimeh/tmux-themepack.git
[submodule "shell/zsh/zplug"]
	path = shell/zsh/zplug
	url = https://github.com/b4b4r07/zplug
