[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:jimeh/.emacs.d.git
[submodule "private"]
	path = private
	url = git@bitbucket.org:jimeh/dotfiles-private.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
