@font-face {
  font-family: "Menlo Nerd Font Mono";
  font-style: normal;
  font-weight: 400;
  src: url("MenloNerdFontMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo Nerd Font Mono";
  font-style: italic;
  font-weight: 400;
  src: url("MenloNerdFontMono-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo Nerd Font Mono";
  font-weight: 700;
  src: url("MenloNerdFontMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo Nerd Font Mono";
  font-style: italic;
  font-weight: 700;
  src: url("MenloNerdFontMono-BoldItalic.ttf") format("truetype");
}
