@font-face {
  font-family: "Menlo Nerd Font";
  font-style: normal;
  font-weight: 400;
  src: url("MenloNerdFont-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo Nerd Font";
  font-style: italic;
  font-weight: 400;
  src: url("MenloNerdFont-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo Nerd Font";
  font-weight: 700;
  src: url("MenloNerdFont-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo Nerd Font";
  font-style: italic;
  font-weight: 700;
  src: url("MenloNerdFont-BoldItalic.ttf") format("truetype");
}
