@font-face {
  font-family: "Menlo Nerd Font Mono";
  font-style: normal;
  font-weight: 400;
  src: url("Menlo Regular Nerd Font Complete Mono.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo Nerd Font Mono";
  font-style: italic;
  font-weight: 400;
  src: url("Menlo Italic Nerd Font Complete Mono.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo Nerd Font Mono";
  font-weight: 700;
  src: url("Menlo Bold Nerd Font Complete Mono.ttf") format("truetype");
}

@font-face {
  font-family: "Menlo Nerd Font Mono";
  font-style: italic;
  font-weight: 700;
  src: url("Menlo Bold Italic Nerd Font Complete Mono.ttf") format("truetype");
}
